main{
    margin: 185px 0;
}

div.img-thumbnail{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    padding: 4rem;
}

@media only screen and (max-width: 600px) {
    main{
        margin: 140px 0;
    }

    div.img-thumbnail{
        padding: 3rem;
    }
}

.nps .btn.btn-sm{
    padding: .25rem 0.55rem;
}
